# Python + poetry
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env

#not sure how necessar this is as I needed to enter the python interpreter into VSCode manually
#if anything, it'sa good reference for what that path is
.vscode

chroma_db*